*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.accor-wrapper{
    background-color: blanchedalmond;
    min-width: 40vw;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius:  8px;
}

.questions{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    margin: 8px ;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.show{
padding: 15px;
font-size: 2rem;
border-radius: 50%;
cursor: pointer;
}
h1{
    font-size: 1.5rem;
}